.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-F60tJ3EULhmM);
  font-size: var(--token-_HcMv9vcY4B_);
  line-height: var(--token-nWmiLA_yIeEx);
  width: 100%;
  color: var(--token-zbVdffIzLXEr);
  font-family: var(--token-Xr_3itSMRF8u);
  min-width: 0;
  border-radius: var(--token-mY401_1bEgkI);
  padding: var(--token-mY401_1bEgkI) var(--token-sznX77BuBLPT);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-fr1HFVX7uQZm);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-hQkf_I7nSwd1);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-o0nlM2HaAkn2);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-hQkf_I7nSwd1);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-2zqpU34VpMo-);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-2zqpU34VpMo-);
}
