@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-DUDGSvqGpuwe: 0.25rem;
  --plasmic-token-size-4: var(--token-DUDGSvqGpuwe);
  --token-2zqpU34VpMo-: 2rem;
  --plasmic-token-size-32: var(--token-2zqpU34VpMo-);
  --token-sznX77BuBLPT: 0.625rem;
  --plasmic-token-size-10: var(--token-sznX77BuBLPT);
  --token-mY401_1bEgkI: 0.375rem;
  --plasmic-token-size-6: var(--token-mY401_1bEgkI);
  --token-zgsyUjb7d3Ou: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-zgsyUjb7d3Ou);
  --token-zbVdffIzLXEr: #030712;
  --plasmic-token-basic-text-primary: var(--token-zbVdffIzLXEr);
  --token-Xr_3itSMRF8u: Inter;
  --plasmic-token-sans-serif: var(--token-Xr_3itSMRF8u);
  --token-_HcMv9vcY4B_: 1rem;
  --plasmic-token-font-md: var(--token-_HcMv9vcY4B_);
  --token-nWmiLA_yIeEx: 1.25;
  --plasmic-token-line-height-md: var(--token-nWmiLA_yIeEx);
  --token-sKDEfJMpA7iM: 0.75rem;
  --plasmic-token-font-sm: var(--token-sKDEfJMpA7iM);
  --token-qbhv6s6yfOQV: 1;
  --plasmic-token-line-height-sm: var(--token-qbhv6s6yfOQV);
  --token-SoM82QS8V4ay: 1.25rem;
  --plasmic-token-font-lg: var(--token-SoM82QS8V4ay);
  --token-dCOMy0l-CVpu: 1.4;
  --plasmic-token-line-height-lg: var(--token-dCOMy0l-CVpu);
  --token-OCakPQkvWqlg: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-OCakPQkvWqlg);
  --token-F60tJ3EULhmM: #d1d5db;
  --plasmic-token-basic-border: var(--token-F60tJ3EULhmM);
  --token-hQkf_I7nSwd1: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-hQkf_I7nSwd1);
  --token-o0nlM2HaAkn2: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-o0nlM2HaAkn2);
  --token-fDMg01Qf8zWw: 0.125rem;
  --plasmic-token-size-2: var(--token-fDMg01Qf8zWw);
  --token-fr1HFVX7uQZm: #2563eb;
  --plasmic-token-brand-brand: var(--token-fr1HFVX7uQZm);
  --token-BNABZC4U8QAX: 0.5rem;
  --plasmic-token-size-8: var(--token-BNABZC4U8QAX);
  --token-0IQ9wSVHz0HA: #374151;
  --plasmic-token-neutral-neutral: var(--token-0IQ9wSVHz0HA);
  --token-J1AwQCd64qL6: #6b7280;
  --plasmic-token-muted-muted: var(--token-J1AwQCd64qL6);
  --token-_noA4o12mn-w: #16a34a;
  --plasmic-token-success-success: var(--token-_noA4o12mn-w);
  --token-nEJOPkCoTF2h: #facc15;
  --plasmic-token-warning-warning: var(--token-nEJOPkCoTF2h);
  --token-XwN95BJ1i84E: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-XwN95BJ1i84E);
  --token-eyGXJLGmNpWY: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-eyGXJLGmNpWY);
  --token-Ya_3ZwgPyKLx: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-Ya_3ZwgPyKLx);
  --token-GF5bi6eC1iuU: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-GF5bi6eC1iuU);
  --token-wHMSasRAEhbU: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-wHMSasRAEhbU);
  --token-wG9KTgjzX8xr: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-wG9KTgjzX8xr);
  --token-LchiqMq7ATe8: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-LchiqMq7ATe8);
  --token-POlbE0WP2waK: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-POlbE0WP2waK);
  --token-h853X7GBqv1T: #86efac;
  --plasmic-token-success-success-border: var(--token-h853X7GBqv1T);
  --token-sPQeODcuFs1i: #fde047;
  --plasmic-token-warning-warning-border: var(--token-sPQeODcuFs1i);
  --token-Ctj2nyxZn-17: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-Ctj2nyxZn-17);
  --token-o4VyuFNmaM_p: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-o4VyuFNmaM_p);
  --token-u05BuOKfkdFh: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-u05BuOKfkdFh);
  --token-EQliWcpcTfnd: #00000033;
  --plasmic-token-interaction-pressed: var(--token-EQliWcpcTfnd);
  --token-rdegNGq6u20j: 0.75rem;
  --plasmic-token-size-12: var(--token-rdegNGq6u20j);
  --token-pRx-L9izRnJ9: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-pRx-L9izRnJ9);
  --token-VIuWTVAr5GQl: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-VIuWTVAr5GQl);
  --token-IVivUtcFMJe_: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-IVivUtcFMJe_);
  --token-0XG3gLboaJBY: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-0XG3gLboaJBY);
  --token-e7znkrLTlHMT: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-e7znkrLTlHMT);
  --token-AYoqqa2r64Dv: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-AYoqqa2r64Dv);
  --token-h9_NqQtcSfwx: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-h9_NqQtcSfwx);
  --token-CBQ3McNOX_Br: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-CBQ3McNOX_Br);
  --token-WOWixUelrvtw: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-WOWixUelrvtw);
  --token-NA9HCLar8Te6: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-NA9HCLar8Te6);
  --token-wIgrwozzeqH8: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-wIgrwozzeqH8);
  --token-MU9cgIv8OUHo: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-MU9cgIv8OUHo
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-aXRHb7np3vpQ_font-family: "Inter", sans-serif;
  --mixin-aXRHb7np3vpQ_font-size: 16px;
  --mixin-aXRHb7np3vpQ_font-weight: 400;
  --mixin-aXRHb7np3vpQ_font-style: normal;
  --mixin-aXRHb7np3vpQ_text-align: left;
  --mixin-aXRHb7np3vpQ_text-transform: none;
  --mixin-aXRHb7np3vpQ_line-height: 1.5;
  --mixin-aXRHb7np3vpQ_letter-spacing: normal;
  --mixin-aXRHb7np3vpQ_white-space: pre-wrap;
  --mixin-aXRHb7np3vpQ_user-select: text;
  --mixin-aXRHb7np3vpQ_text-decoration-line: none;
  --mixin-aXRHb7np3vpQ_text-overflow: clip;
  --mixin-aXRHb7np3vpQ_color: #000000;
  --mixin-k0fMTaYze_nt_font-weight: 700;
  --mixin-k0fMTaYze_nt_font-size: 64px;
  --mixin-k0fMTaYze_nt_line-height: 1;
  --mixin-k0fMTaYze_nt_letter-spacing: -1px;
  --mixin-k0fMTaYze_nt_white-space: pre-wrap;
  --mixin-Wg0ARXQ6gpFW_font-size: 48px;
  --mixin-Wg0ARXQ6gpFW_font-weight: 700;
  --mixin-Wg0ARXQ6gpFW_letter-spacing: -0.5px;
  --mixin-Wg0ARXQ6gpFW_line-height: 1.1;
  --mixin-Wg0ARXQ6gpFW_white-space: pre-wrap;
  --mixin-LA9gXHOJusU4_color: #0070f3;
  --mixin-LA9gXHOJusU4_white-space: pre-wrap;
  --mixin-PVEcTbtFt8Rp_font-size: 32px;
  --mixin-PVEcTbtFt8Rp_font-weight: 600;
  --mixin-PVEcTbtFt8Rp_line-height: 1.2;
  --mixin-PVEcTbtFt8Rp_white-space: pre-wrap;
  --mixin-XseX6JvLMbZK_font-size: 24px;
  --mixin-XseX6JvLMbZK_font-weight: 600;
  --mixin-XseX6JvLMbZK_line-height: 1.3;
  --mixin-XseX6JvLMbZK_white-space: pre-wrap;
  --mixin-UjiXHaoLOKgF_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-UjiXHaoLOKgF_border-bottom-color: #dddddd;
  --mixin-UjiXHaoLOKgF_border-bottom-style: solid;
  --mixin-UjiXHaoLOKgF_border-bottom-width: 1px;
  --mixin-UjiXHaoLOKgF_border-left-color: #dddddd;
  --mixin-UjiXHaoLOKgF_border-left-style: solid;
  --mixin-UjiXHaoLOKgF_border-left-width: 1px;
  --mixin-UjiXHaoLOKgF_border-right-color: #dddddd;
  --mixin-UjiXHaoLOKgF_border-right-style: solid;
  --mixin-UjiXHaoLOKgF_border-right-width: 1px;
  --mixin-UjiXHaoLOKgF_border-top-color: #dddddd;
  --mixin-UjiXHaoLOKgF_border-top-style: solid;
  --mixin-UjiXHaoLOKgF_border-top-width: 1px;
  --mixin-UjiXHaoLOKgF_border-bottom-left-radius: 3px;
  --mixin-UjiXHaoLOKgF_border-bottom-right-radius: 3px;
  --mixin-UjiXHaoLOKgF_border-top-left-radius: 3px;
  --mixin-UjiXHaoLOKgF_border-top-right-radius: 3px;
  --mixin-UjiXHaoLOKgF_font-family: "Inconsolata";
  --mixin-UjiXHaoLOKgF_padding-bottom: 1px;
  --mixin-UjiXHaoLOKgF_padding-left: 4px;
  --mixin-UjiXHaoLOKgF_padding-right: 4px;
  --mixin-UjiXHaoLOKgF_padding-top: 1px;
  --mixin-UjiXHaoLOKgF_white-space: pre-wrap;
  --mixin-EVzOWvzX_5pJ_border-left-color: #dddddd;
  --mixin-EVzOWvzX_5pJ_border-left-style: solid;
  --mixin-EVzOWvzX_5pJ_border-left-width: 3px;
  --mixin-EVzOWvzX_5pJ_color: #888888;
  --mixin-EVzOWvzX_5pJ_padding-left: 10px;
  --mixin-EVzOWvzX_5pJ_white-space: pre-wrap;
  --mixin-xdBvKqkuk_WO_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-xdBvKqkuk_WO_border-bottom-color: #dddddd;
  --mixin-xdBvKqkuk_WO_border-bottom-style: solid;
  --mixin-xdBvKqkuk_WO_border-bottom-width: 1px;
  --mixin-xdBvKqkuk_WO_border-left-color: #dddddd;
  --mixin-xdBvKqkuk_WO_border-left-style: solid;
  --mixin-xdBvKqkuk_WO_border-left-width: 1px;
  --mixin-xdBvKqkuk_WO_border-right-color: #dddddd;
  --mixin-xdBvKqkuk_WO_border-right-style: solid;
  --mixin-xdBvKqkuk_WO_border-right-width: 1px;
  --mixin-xdBvKqkuk_WO_border-top-color: #dddddd;
  --mixin-xdBvKqkuk_WO_border-top-style: solid;
  --mixin-xdBvKqkuk_WO_border-top-width: 1px;
  --mixin-xdBvKqkuk_WO_border-bottom-left-radius: 3px;
  --mixin-xdBvKqkuk_WO_border-bottom-right-radius: 3px;
  --mixin-xdBvKqkuk_WO_border-top-left-radius: 3px;
  --mixin-xdBvKqkuk_WO_border-top-right-radius: 3px;
  --mixin-xdBvKqkuk_WO_font-family: "Inconsolata";
  --mixin-xdBvKqkuk_WO_padding-bottom: 3px;
  --mixin-xdBvKqkuk_WO_padding-left: 6px;
  --mixin-xdBvKqkuk_WO_padding-right: 6px;
  --mixin-xdBvKqkuk_WO_padding-top: 3px;
  --mixin-xdBvKqkuk_WO_white-space: pre-wrap;
  --mixin-qZ-7zW3aXoW-_display: flex;
  --mixin-qZ-7zW3aXoW-_flex-direction: column;
  --mixin-qZ-7zW3aXoW-_align-items: stretch;
  --mixin-qZ-7zW3aXoW-_justify-content: flex-start;
  --mixin-qZ-7zW3aXoW-_list-style-position: outside;
  --mixin-qZ-7zW3aXoW-_padding-left: 40px;
  --mixin-qZ-7zW3aXoW-_position: relative;
  --mixin-qZ-7zW3aXoW-_list-style-type: disc;
  --mixin-qZ-7zW3aXoW-_white-space: pre-wrap;
  --mixin-n5pb7JqKPoxp_display: flex;
  --mixin-n5pb7JqKPoxp_flex-direction: column;
  --mixin-n5pb7JqKPoxp_align-items: stretch;
  --mixin-n5pb7JqKPoxp_justify-content: flex-start;
  --mixin-n5pb7JqKPoxp_list-style-position: outside;
  --mixin-n5pb7JqKPoxp_padding-left: 40px;
  --mixin-n5pb7JqKPoxp_position: relative;
  --mixin-n5pb7JqKPoxp_list-style-type: decimal;
  --mixin-n5pb7JqKPoxp_white-space: pre-wrap;
  --mixin-YwO-Q1fhtkb5_font-size: 20px;
  --mixin-YwO-Q1fhtkb5_font-weight: 600;
  --mixin-YwO-Q1fhtkb5_line-height: 1.5;
  --mixin-YwO-Q1fhtkb5_white-space: pre-wrap;
  --mixin-IQx7NFYJ3RL9_font-size: 16px;
  --mixin-IQx7NFYJ3RL9_font-weight: 600;
  --mixin-IQx7NFYJ3RL9_line-height: 1.5;
  --mixin-IQx7NFYJ3RL9_white-space: pre-wrap;
  --mixin-XBTV3iGmiajJ_color: #3291ff;
  --mixin-XBTV3iGmiajJ_white-space: pre-wrap;
  --mixin-Zfr06jPT1JBd_white-space: pre-wrap;
  --mixin-uc3Fedi0T9A3_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-28rPlqqSeDxM_white-space: pre-wrap;
  --plasmic-mixin-custom-h-1_white-space: var(--mixin-28rPlqqSeDxM_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-aXRHb7np3vpQ_font-family);
  font-size: var(--mixin-aXRHb7np3vpQ_font-size);
  font-weight: var(--mixin-aXRHb7np3vpQ_font-weight);
  font-style: var(--mixin-aXRHb7np3vpQ_font-style);
  color: var(--mixin-aXRHb7np3vpQ_color);
  text-align: var(--mixin-aXRHb7np3vpQ_text-align);
  text-transform: var(--mixin-aXRHb7np3vpQ_text-transform);
  line-height: var(--mixin-aXRHb7np3vpQ_line-height);
  letter-spacing: var(--mixin-aXRHb7np3vpQ_letter-spacing);
  white-space: var(--mixin-aXRHb7np3vpQ_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-k0fMTaYze_nt_font-weight);
  font-size: var(--mixin-k0fMTaYze_nt_font-size);
  line-height: var(--mixin-k0fMTaYze_nt_line-height);
  letter-spacing: var(--mixin-k0fMTaYze_nt_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin-Wg0ARXQ6gpFW_font-size);
  font-weight: var(--mixin-Wg0ARXQ6gpFW_font-weight);
  letter-spacing: var(--mixin-Wg0ARXQ6gpFW_letter-spacing);
  line-height: var(--mixin-Wg0ARXQ6gpFW_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-LA9gXHOJusU4_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-PVEcTbtFt8Rp_font-size);
  font-weight: var(--mixin-PVEcTbtFt8Rp_font-weight);
  line-height: var(--mixin-PVEcTbtFt8Rp_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-XseX6JvLMbZK_font-size);
  font-weight: var(--mixin-XseX6JvLMbZK_font-weight);
  line-height: var(--mixin-XseX6JvLMbZK_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-UjiXHaoLOKgF_font-family);
  border-radius: var(--mixin-UjiXHaoLOKgF_border-top-left-radius)
    var(--mixin-UjiXHaoLOKgF_border-top-right-radius)
    var(--mixin-UjiXHaoLOKgF_border-bottom-right-radius)
    var(--mixin-UjiXHaoLOKgF_border-bottom-left-radius);
  padding: var(--mixin-UjiXHaoLOKgF_padding-top)
    var(--mixin-UjiXHaoLOKgF_padding-right)
    var(--mixin-UjiXHaoLOKgF_padding-bottom)
    var(--mixin-UjiXHaoLOKgF_padding-left);
  border-top: var(--mixin-UjiXHaoLOKgF_border-top-width)
    var(--mixin-UjiXHaoLOKgF_border-top-style)
    var(--mixin-UjiXHaoLOKgF_border-top-color);
  border-right: var(--mixin-UjiXHaoLOKgF_border-right-width)
    var(--mixin-UjiXHaoLOKgF_border-right-style)
    var(--mixin-UjiXHaoLOKgF_border-right-color);
  border-bottom: var(--mixin-UjiXHaoLOKgF_border-bottom-width)
    var(--mixin-UjiXHaoLOKgF_border-bottom-style)
    var(--mixin-UjiXHaoLOKgF_border-bottom-color);
  border-left: var(--mixin-UjiXHaoLOKgF_border-left-width)
    var(--mixin-UjiXHaoLOKgF_border-left-style)
    var(--mixin-UjiXHaoLOKgF_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-EVzOWvzX_5pJ_color);
  padding-left: var(--mixin-EVzOWvzX_5pJ_padding-left);
  border-left: var(--mixin-EVzOWvzX_5pJ_border-left-width)
    var(--mixin-EVzOWvzX_5pJ_border-left-style)
    var(--mixin-EVzOWvzX_5pJ_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-xdBvKqkuk_WO_font-family);
  border-radius: var(--mixin-xdBvKqkuk_WO_border-top-left-radius)
    var(--mixin-xdBvKqkuk_WO_border-top-right-radius)
    var(--mixin-xdBvKqkuk_WO_border-bottom-right-radius)
    var(--mixin-xdBvKqkuk_WO_border-bottom-left-radius);
  padding: var(--mixin-xdBvKqkuk_WO_padding-top)
    var(--mixin-xdBvKqkuk_WO_padding-right)
    var(--mixin-xdBvKqkuk_WO_padding-bottom)
    var(--mixin-xdBvKqkuk_WO_padding-left);
  border-top: var(--mixin-xdBvKqkuk_WO_border-top-width)
    var(--mixin-xdBvKqkuk_WO_border-top-style)
    var(--mixin-xdBvKqkuk_WO_border-top-color);
  border-right: var(--mixin-xdBvKqkuk_WO_border-right-width)
    var(--mixin-xdBvKqkuk_WO_border-right-style)
    var(--mixin-xdBvKqkuk_WO_border-right-color);
  border-bottom: var(--mixin-xdBvKqkuk_WO_border-bottom-width)
    var(--mixin-xdBvKqkuk_WO_border-bottom-style)
    var(--mixin-xdBvKqkuk_WO_border-bottom-color);
  border-left: var(--mixin-xdBvKqkuk_WO_border-left-width)
    var(--mixin-xdBvKqkuk_WO_border-left-style)
    var(--mixin-xdBvKqkuk_WO_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-qZ-7zW3aXoW-_display);
  flex-direction: var(--mixin-qZ-7zW3aXoW-_flex-direction);
  align-items: var(--mixin-qZ-7zW3aXoW-_align-items);
  justify-content: var(--mixin-qZ-7zW3aXoW-_justify-content);
  list-style-position: var(--mixin-qZ-7zW3aXoW-_list-style-position);
  padding-left: var(--mixin-qZ-7zW3aXoW-_padding-left);
  position: var(--mixin-qZ-7zW3aXoW-_position);
  list-style-type: var(--mixin-qZ-7zW3aXoW-_list-style-type);
  column-gap: var(--mixin-qZ-7zW3aXoW-_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-n5pb7JqKPoxp_display);
  flex-direction: var(--mixin-n5pb7JqKPoxp_flex-direction);
  align-items: var(--mixin-n5pb7JqKPoxp_align-items);
  justify-content: var(--mixin-n5pb7JqKPoxp_justify-content);
  list-style-position: var(--mixin-n5pb7JqKPoxp_list-style-position);
  padding-left: var(--mixin-n5pb7JqKPoxp_padding-left);
  position: var(--mixin-n5pb7JqKPoxp_position);
  list-style-type: var(--mixin-n5pb7JqKPoxp_list-style-type);
  column-gap: var(--mixin-n5pb7JqKPoxp_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-YwO-Q1fhtkb5_font-size);
  font-weight: var(--mixin-YwO-Q1fhtkb5_font-weight);
  line-height: var(--mixin-YwO-Q1fhtkb5_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-IQx7NFYJ3RL9_font-size);
  font-weight: var(--mixin-IQx7NFYJ3RL9_font-weight);
  line-height: var(--mixin-IQx7NFYJ3RL9_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-XBTV3iGmiajJ_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
