.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-zgsyUjb7d3Ou);
  font-family: var(--token-Xr_3itSMRF8u);
  font-size: var(--token-_HcMv9vcY4B_);
  line-height: var(--token-nWmiLA_yIeEx);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
