.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-F60tJ3EULhmM);
  color: var(--token-zbVdffIzLXEr);
  font-family: var(--token-Xr_3itSMRF8u);
  font-size: var(--token-_HcMv9vcY4B_);
  line-height: var(--token-nWmiLA_yIeEx);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-mY401_1bEgkI);
  padding: var(--token-mY401_1bEgkI) var(--token-sznX77BuBLPT);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-fDMg01Qf8zWw);
  outline-offset: 1px;
  outline-color: var(--token-fr1HFVX7uQZm);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-hQkf_I7nSwd1);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-o0nlM2HaAkn2);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-hQkf_I7nSwd1);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-2zqpU34VpMo-);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-2zqpU34VpMo-);
}
