.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-DUDGSvqGpuwe);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__sk7Dc {
  display: flex;
  flex-direction: column;
}
.freeBox__hkad3 {
  flex-direction: row;
  position: absolute;
  height: var(--token-2zqpU34VpMo-);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-mY401_1bEgkI) var(--token-sznX77BuBLPT);
}
.freeBoxiconStart__hkad39VdJh {
  display: flex;
}
.slotTargetStart {
  color: var(--token-zgsyUjb7d3Ou);
}
.svg__zyIoo {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__ftTqe {
  height: var(--token-2zqpU34VpMo-);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-mY401_1bEgkI) var(--token-sznX77BuBLPT);
}
.freeBoxiconEnd__ftTqeIaenW {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-zgsyUjb7d3Ou);
}
.svg__c1ZBq {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
