.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-fr1HFVX7uQZm);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-BNABZC4U8QAX);
  font-family: var(--token-Xr_3itSMRF8u);
  font-size: var(--token-_HcMv9vcY4B_);
  line-height: var(--token-nWmiLA_yIeEx);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-mY401_1bEgkI);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-fDMg01Qf8zWw);
  outline-offset: 1px;
  outline-color: var(--token-fr1HFVX7uQZm);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-0IQ9wSVHz0HA);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-J1AwQCd64qL6);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-_noA4o12mn-w);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-nEJOPkCoTF2h);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-OCakPQkvWqlg);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-qbhv6s6yfOQV);
  font-size: var(--token-sKDEfJMpA7iM);
  column-gap: var(--token-fDMg01Qf8zWw);
  row-gap: 0px;
  border-radius: var(--token-DUDGSvqGpuwe);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-sKDEfJMpA7iM);
  line-height: var(--token-qbhv6s6yfOQV);
  column-gap: var(--token-DUDGSvqGpuwe);
  row-gap: 0px;
  border-radius: var(--token-DUDGSvqGpuwe);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-SoM82QS8V4ay);
  line-height: var(--token-dCOMy0l-CVpu);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-SoM82QS8V4ay);
  line-height: var(--token-dCOMy0l-CVpu);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-XwN95BJ1i84E);
  border-radius: var(--token-mY401_1bEgkI);
}
.softBackgroundcolor_neutral {
  background: var(--token-eyGXJLGmNpWY);
}
.softBackgroundcolor_muted {
  background: var(--token-hQkf_I7nSwd1);
}
.softBackgroundcolor_success {
  background: var(--token-Ya_3ZwgPyKLx);
}
.softBackgroundcolor_warning {
  background: var(--token-GF5bi6eC1iuU);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-wHMSasRAEhbU);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-mY401_1bEgkI);
  border: 0px solid var(--token-wG9KTgjzX8xr);
}
.bordercolor_neutral {
  border-color: var(--token-LchiqMq7ATe8);
}
.bordercolor_muted {
  border-color: var(--token-POlbE0WP2waK);
}
.bordercolor_success {
  border-color: var(--token-h853X7GBqv1T);
}
.bordercolor_warning {
  border-color: var(--token-sPQeODcuFs1i);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Ctj2nyxZn-17);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-mY401_1bEgkI);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-o4VyuFNmaM_p);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-u05BuOKfkdFh);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-EQliWcpcTfnd);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__yPlbi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-mY401_1bEgkI);
  min-width: 0;
  min-height: 0;
  padding: var(--token-mY401_1bEgkI) var(--token-sznX77BuBLPT);
}
.freeBoxsize_extraSmall__yPlbi4VbzL {
  padding: var(--token-DUDGSvqGpuwe) var(--token-mY401_1bEgkI);
}
.freeBoxsize_small__yPlbiYyMx6 {
  padding: var(--token-mY401_1bEgkI) var(--token-BNABZC4U8QAX);
}
.freeBoxsize_large__yPlbiNCnaX {
  padding-top: var(--token-DUDGSvqGpuwe);
  padding-bottom: var(--token-DUDGSvqGpuwe);
}
.freeBoxsize_extraLarge__yPlbi5UqAa {
  padding-left: var(--token-rdegNGq6u20j);
  padding-right: var(--token-rdegNGq6u20j);
}
.freeBoxroundedFull__yPlbiapN6T {
  padding-right: var(--token-rdegNGq6u20j);
  padding-left: var(--token-rdegNGq6u20j);
}
.freeBox__yqePc {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__yqePCaehiA {
  display: flex;
}
.slotTargetStart {
  color: var(--token-pRx-L9izRnJ9);
}
.slotTargetStartcolor_neutral {
  color: var(--token-VIuWTVAr5GQl);
}
.slotTargetStartcolor_muted {
  color: var(--token-IVivUtcFMJe_);
}
.slotTargetStartcolor_success {
  color: var(--token-AYoqqa2r64Dv);
}
.slotTargetStartcolor_warning {
  color: var(--token-e7znkrLTlHMT);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-h9_NqQtcSfwx);
}
.slotTargetStarttype_soft {
  color: var(--token-0XG3gLboaJBY);
}
.slotTargetStarttype_bordered {
  color: var(--token-0XG3gLboaJBY);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-sKDEfJMpA7iM);
}
.slotTargetStartsize_small {
  font-size: var(--token-sKDEfJMpA7iM);
}
.slotTargetStartsize_large {
  font-size: var(--token-SoM82QS8V4ay);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-SoM82QS8V4ay);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-CBQ3McNOX_Br);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-CBQ3McNOX_Br);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-WOWixUelrvtw);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-WOWixUelrvtw);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-NA9HCLar8Te6);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-NA9HCLar8Te6);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-wIgrwozzeqH8);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-wIgrwozzeqH8);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-MU9cgIv8OUHo);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-MU9cgIv8OUHo);
}
.svg__qjWxZ {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-pRx-L9izRnJ9);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-VIuWTVAr5GQl);
}
.slotTargetLabelcolor_muted {
  color: var(--token-IVivUtcFMJe_);
}
.slotTargetLabelcolor_success {
  color: var(--token-AYoqqa2r64Dv);
}
.slotTargetLabelcolor_warning {
  color: var(--token-e7znkrLTlHMT);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-h9_NqQtcSfwx);
}
.slotTargetLabeltype_soft {
  color: var(--token-0XG3gLboaJBY);
}
.slotTargetLabeltype_bordered {
  color: var(--token-0XG3gLboaJBY);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-CBQ3McNOX_Br);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-WOWixUelrvtw);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-CBQ3McNOX_Br);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-NA9HCLar8Te6);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-WOWixUelrvtw);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-wIgrwozzeqH8);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-NA9HCLar8Te6);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-MU9cgIv8OUHo);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-wIgrwozzeqH8);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-MU9cgIv8OUHo);
}
.text__eRoPl {
  white-space: pre;
}
.freeBox__fE7Ff {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__fE7Ff2FtTu {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-pRx-L9izRnJ9);
}
.slotTargetEndcolor_neutral {
  color: var(--token-VIuWTVAr5GQl);
}
.slotTargetEndcolor_muted {
  color: var(--token-IVivUtcFMJe_);
}
.slotTargetEndcolor_success {
  color: var(--token-AYoqqa2r64Dv);
}
.slotTargetEndcolor_warning {
  color: var(--token-e7znkrLTlHMT);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-h9_NqQtcSfwx);
}
.slotTargetEndtype_soft {
  color: var(--token-0XG3gLboaJBY);
}
.slotTargetEndtype_bordered {
  color: var(--token-0XG3gLboaJBY);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-sKDEfJMpA7iM);
}
.slotTargetEndsize_small {
  font-size: var(--token-sKDEfJMpA7iM);
}
.slotTargetEndsize_large {
  font-size: var(--token-SoM82QS8V4ay);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-SoM82QS8V4ay);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-CBQ3McNOX_Br);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-CBQ3McNOX_Br);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-WOWixUelrvtw);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-WOWixUelrvtw);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-NA9HCLar8Te6);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-NA9HCLar8Te6);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-wIgrwozzeqH8);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-wIgrwozzeqH8);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-MU9cgIv8OUHo);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-MU9cgIv8OUHo);
}
.svg__vwnw2 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
